body{
	background-color: lightblue;
	margin: 0;
}

#header{
	height: 7em;
	background-color: darkorange;
	border: 0.15em solid black;
	position: sticky;
	top: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

#titulo{
	color: red;
	width: 100%;
	margin-left: 5%;
}

#menu{
	width: 40%;
	height: 7em;
	margin-right: 5%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.menu{
	color: grey;
	font-size: 1em;
	background-color: pink;
	border: 0.15em solid black;
	border-radius: 0.6em;
	padding: 0.3em;
	height: 2em;
	width: 15em;
}

.menu:hover{
	color: black;
	background-color: red;
	transition: color 0.5s linear, background-color 1s ease-out;
}

.menu:active{
	color: white;
	background-color: purple;
	transition: color 0.1s linear, background-color 0.1s ease-out;
}

#corpo{
	display:flex;
	justify-content: space-between;
}

#textos{
	width: 80%;
	margin-right: 5%;
}

a.anchor {
    display: block;
    position: relative;
    top: -8em;
}
  
.titulo-corpo{
	margin: 0.8em;
	width: 50%;
}

h2{
	color: black;
	background-color: lightgrey;
	border: 0.15em solid black;
	border-radius: 0.4em;
 	padding: 0.2em 0.5em;
	text-align: center;
}

p{
	text-indent: 1em;
	margin-left: 1em;
}

h3{
	margin-left: 1.5em;
}

#barra-lateral{
	width: 25%;
	background-color: darkorange;
	border: 0.15em solid black;
	margin-top: 0.8em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#titulo-principal-barra{
	width: 85%;
}

.titulo-barra{
	font-family: cursive;
	color: red;
	background-color: lightgrey;
	width: 90%;
	text-align: center;
	border: 0.15em solid black;
	border-radius: 0.3em;
	padding: 0.2em 0.5em;
	margin-left: 0em;
}

img{
	margin-bottom: 0.5em;
    max-width: 90%;
    width: auto;
    border: 0.15em solid black;
}

@media (max-width: 750px){
	
	#titulo{
		margin-left: 5%;
		font-size:1.5em;
	}
	
	#menu{
		width: 50%;
		margin-right: 2.5%;
		height: 50%;
		justify-content: flex-end;
	}

	.menu{
		font-size: 0.65em;
	}

	#textos{
		width: 60%;
	}

	.titulo-corpo{
		width: 90%;
	}

	h2{
		font-size: 0.75em;
 	}

	p{
		font-size: 0.75em;
	}

	li{
		font-size: 0.75em;
	}

	#barra-lateral{
		width: 35%;
	}
	
	.titulo-barra{
		width: 85%;
		font-size: 0.6em;
	}

	img{
		border: 0.01em solid black;
		margin-bottom: 0.01em;
	    max-width: 95%;
 	}
}
